.loginButton {
  width: 7em;
  height: 2.8em;
}

.bg-white-50 {
  background-color: #f5f5f5;
}

.software-heading {
  font-family: "Roboto";
  font-size: 30px;
}

.software-sub-heading {
  font-family: "Roboto";
  font-size: 16px;
}

.description h3 {
  font-family: "Roboto";
  font-size: 36px;
}
