<div class="container h-100 loginContainer">
    <div class="row h-100 justify-content-center align-items-center">
        <form class="col-12">
            <div class="full-width">
                <p class="login-header">Login</p>
                <mat-form-field appearance="outline">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Username">
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password">
                </mat-form-field>
            </div>
            <div class="login-wrapper">
                <button mat-raised-button color="primary" class="loginButton">Login</button>
            </div>
        </form>
    </div>
</div>