
<div class="bg-white-50 h-100">
    <div class="container d-flex justify-content-between align-items-center h-100">
        <div>
            <h3 class="fs-1 font-weight-bold">Make every day simple</h3>
            <h4 class="fs-5">with the all new Bill management system</h4>
            <p class="fs-6">A software that understands you and manages & simplifies your business</p>
        </div>
        <div>
            <p class="text-center mb-0 software-heading">Smart way solutions</p>
            <p class="text-center text-secondary mt-2 software-sub-heading">Empowering your business</p>
            <mat-card class="login-card">
                <div class="p-3">
                    <h1 class="text-center">ACCOUNT LOGIN</h1>
                    <div *ngIf='!showPassword'>
                        <form [formGroup]='loginForm' (ngSubmit)='showPasswordDialog()'>
                            <mat-form-field appearance='outline' class="w-100">
                                <mat-label>Mobile number or Email address</mat-label>
                                <input matInput placeholder="Mobile number or Email address" name="username" formControlName='username' required />
                                <mat-error *ngIf="loginFormControls.username.errors?.required">Required</mat-error>
                                <mat-error *ngIf="loginFormControls.username.errors?.incorrect">Invalid email or mobile number</mat-error>
                            </mat-form-field>
                            <div id="recaptcha-container"></div>
                            <button type='submit' class="loginButton w-100" mat-raised-button color='primary'>Next</button>
                        </form>
                    </div>
                    <div *ngIf='showPassword && !hideEmailLogin'>
                        <form [formGroup]='passwordForm' (ngSubmit)='loginUser(passwordForm)'>
                            <mat-form-field appearance='outline' class="w-100">
                                <mat-label>Password</mat-label>
                                <input matInput placeholder="Password" name="password" formControlName='password' type="password" required>
                                <mat-error *ngIf="passwordFormControls.password.errors?.required">Required</mat-error>
                            </mat-form-field>
                            <button type='submit' class="loginButton w-100" mat-raised-button color='primary'>Login</button>
                        </form>
                    </div>
                    <div *ngIf='showPassword && hideEmailLogin'>
                        <form [formGroup]='otpForm' (ngSubmit)='loginUser(passwordForm)'>
                            <mat-form-field appearance='outline' class="w-100">
                                <mat-label>OTP</mat-label>
                                <input matInput mask="0 0 0 0 0 0" placeholder="Verify OTP" name='otp' formControlName='otp' required />
                                <mat-error *ngIf="otpFormControls.otp.errors?.required">Required</mat-error>
                            </mat-form-field>
                            <button type='submit' class="loginButton w-100" mat-raised-button color='primary'>Verify</button>
                        </form>
                        
                    </div>
                </div>
                <div class="text-center">
                    <p class="cursor-pointer">Forget Password ?</p>
                    <p>No account ? Sign up</p>
                </div>
            </mat-card>
        </div>
    </div>
</div>

<!-- </div> -->
